.order_details_main{
    max-width: 1184px;
    background-color: #fff;
    margin: auto;
    box-shadow: 0px 3px 1px rgb(20 40 82 / 8%), 0px 24px 24px rgb(20 40 82 / 4%);
    border-radius: 5px;
}
.order_details_container{
    margin: 20px;
}
@media (max-width: 570px){
    .order_details_container{
        margin: 10px;
    }
}